@{
    ViewData["Title"] = "Engineering";
}
<h1>Engineering</h1>
<p>I’m currently a software engineering apprentice at Compare the Market.</p>
<p>This section covers my technical projects and portfolio work.</p>
